<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iwaki.mysampleapplication">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sample.asynctask.SampleAsyncTaskActivity" />
        <activity android:name=".sample.intentservice.SampleIntentServiceActivity" />

        <service
            android:name=".sample.intentservice.SampleIntentService"
            android:exported="false" />

        <activity android:name=".sample.methodtime.MethodTimeCheckActivity" />
        <activity android:name=".sample.sqlite.SqliteSampleActivity" />
        <activity android:name=".sample.listview.ListViewSampleActivity" />
        <activity android:name=".sample.location.LocationSample1Activity" />
        <activity android:name=".TempTestActivity" />
        <activity android:name=".sample.notification.NotificationSample1Activity" />
        <activity android:name=".sample.wifi.WiFiSampleActivity" />
        <activity android:name=".sample.network.HttpURLConnectionSample1Activity"></activity>
        <activity android:name=".sample.security.KeyStoreSampleActivity"></activity>
    </application>

</manifest>